<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mw.beam.beamwallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".core.App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.mw.beam.beamwallet.screens.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mw.beam.beamwallet.screens.transaction_details.TransactionDetailsActivity"
            android:label="@string/transaction_details_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mw.beam.beamwallet.screens.welcome_screen.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mw.beam.beamwallet.screens.receive.ReceiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mw.beam.beamwallet.screens.send.SendActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mw.beam.beamwallet.screens.utxo_details.UtxoDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.address_details.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.address_edit.EditAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.change_password.ChangePassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.qr.ScanQrActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screens.payment_proof_details.PaymentProofDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screens.proof_verification.ProofVerificationActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a1b807ba21d77b7a801d4c9674b93d0e4f26b21d" />
    </application>
</manifest>
